<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.myproject.boot.application.admin.db.mapper.TbCustomerInfoMapper">
  <resultMap id="BaseResultMap" type="org.myproject.boot.application.admin.db.pojo.TbCustomerInfo">
    <!--@mbg.generated generated on Tue Jun 30 19:20:03 CST 2020.-->
    <!--@Table tb_customer_info-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="name_py" jdbcType="VARCHAR" property="namePy" />
    <result column="name_py_f" jdbcType="VARCHAR" property="namePyF" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="age" jdbcType="INTEGER" property="age" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Tue Jun 30 19:20:03 CST 2020.-->
    id, `name`, name_py, name_py_f, phone, age
  </sql>
</mapper>