<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.myproject.boot.application.goods.db.mapper.TbGoodsTypeMapper">
  <resultMap id="BaseResultMap" type="org.myproject.boot.application.goods.db.pojo.TbGoodsType">
    <!--@mbg.generated generated on Mon Aug 10 22:43:34 CST 2020.-->
    <!--@Table tb_goods_type-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="description" jdbcType="VARCHAR" property="description" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Mon Aug 10 22:43:34 CST 2020.-->
    id, `name`, description
  </sql>
</mapper>