<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.myproject.boot.application.admin.db.mapper.SysUserMapper">
  <resultMap id="BaseResultMap" type="org.myproject.boot.application.admin.db.pojo.SysUser">
    <!--@mbg.generated generated on Thu Jul 02 23:30:25 CST 2020.-->
    <!--@Table sys_user-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="enabled" jdbcType="VARCHAR" property="enabled" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Thu Jul 02 23:30:25 CST 2020.-->
    id, username, `name`, `password`, enabled
  </sql>
</mapper>