<?xml version="1.0" encoding="UTF-8"?>
<project version="4">
  <component name="MyBatisCodeHelperDatasource">
    <option name="projectProfile">
      <ProjectProfile>
        <option name="addSerializeUid" value="true" />
        <option name="genSqlFilePath" value="$PROJECT_DIR$/my-boot-parent/my-boot-application-parent/my-boot-application-admin-01/my-boot-application-admin-db/src/main/java/org/myproject/application/admin/db/pojo" />
        <option name="generateService" value="true" />
        <option name="generateServiceInterface" value="true" />
        <option name="javaMapperPackage" value="org.myproject.application.admin.db.mapper" />
        <option name="javaMapperPath" value="$PROJECT_DIR$/my-boot-parent/my-boot-application-parent/my-boot-application-admin-01/my-boot-application-admin-db/src/main/java" />
        <option name="javaModelPackage" value="org.myproject.application.admin.db.pojo" />
        <option name="javaModelPath" value="$PROJECT_DIR$/my-boot-parent/my-boot-application-parent/my-boot-application-admin-01/my-boot-application-admin-db/src/main/java" />
        <option name="lastDatabaseCrudChooseModuleName" value="my-boot-application-admin-db" />
        <option name="lombokAllArgConstructor" value="true" />
        <option name="lombokBuilderAnnotation" value="true" />
        <option name="lombokDataAnnotation" value="true" />
        <option name="lombokNoArgsConstructor" value="true" />
        <option name="mapperAnnotaion" value="true" />
        <option name="modelSuperClass" value="org.myproject.mybatis.pagehelper.pojo.BaseEntity" />
        <option name="moduleNameToPackageAndPathMap">
          <map>
            <entry key="my-boot-application-admin-db">
              <value>
                <UserPackageAndPathInfoByModule>
                  <option name="javaMapperPackage" value="org.myproject.application.admin.db.mapper" />
                  <option name="javaMapperPath" value="$PROJECT_DIR$/my-boot-parent/my-boot-application-parent/my-boot-application-admin-01/my-boot-application-admin-db/src/main/java" />
                  <option name="javaModelPacakge" value="org.myproject.application.admin.db.pojo" />
                  <option name="javaModelPath" value="$PROJECT_DIR$/my-boot-parent/my-boot-application-parent/my-boot-application-admin-01/my-boot-application-admin-db/src/main/java" />
                  <option name="javaServiceInterfacePackage" value="org.myproject.application.admin.db.service" />
                  <option name="javaServiceInterfacePath" value="$PROJECT_DIR$/my-boot-parent/my-boot-application-parent/my-boot-application-admin-01/my-boot-application-admin-db/src/main/java" />
                  <option name="javaServicePackage" value="org.myproject.application.admin.db.service.impl" />
                  <option name="javaServicePath" value="$PROJECT_DIR$/my-boot-parent/my-boot-application-parent/my-boot-application-admin-01/my-boot-application-admin-db/src/main/java" />
                  <option name="xmlPackage" value="mappers" />
                  <option name="xmlPath" value="$PROJECT_DIR$/my-boot-parent/my-boot-application-parent/my-boot-application-admin-01/my-boot-application-admin-db/src/main/resources" />
                </UserPackageAndPathInfoByModule>
              </value>
            </entry>
          </map>
        </option>
        <option name="p3CComment" value="true" />
        <option name="tableGenerateConfigs">
          <map>
            <entry key="my_project:sys_user">
              <value>
                <TableGenerateConfig>
                  <option name="generatedKey" value="id" />
                  <option name="javaModelName" value="SysUser" />
                  <option name="methodNameList">
                    <list>
                      <option value="" />
                    </list>
                  </option>
                  <option name="moduleName" value="my-boot-application-admin-db" />
                  <option name="sequenceColumn" value="" />
                  <option name="sequenceId" value="" />
                  <option name="useActualColumnName" value="false" />
                </TableGenerateConfig>
              </value>
            </entry>
          </map>
        </option>
        <option name="useExample" value="true" />
        <option name="xmlMapperPackage" value="mappers" />
        <option name="xmlMapperPath" value="$PROJECT_DIR$/my-boot-parent/my-boot-application-parent/my-boot-application-admin-01/my-boot-application-admin-db/src/main/resources" />
      </ProjectProfile>
    </option>
  </component>
</project>