<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.myproject.boot.application.admin.db.mapper.TbSysUserRoleMapper">
  <resultMap id="BaseResultMap" type="org.myproject.boot.application.admin.db.pojo.TbSysUserRole">
    <!--@mbg.generated generated on Sun Aug 09 01:04:59 CST 2020.-->
    <!--@Table tb_sys_user_role-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
    <result column="creater" jdbcType="VARCHAR" property="creater" />
    <result column="modifier" jdbcType="VARCHAR" property="modifier" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="is_delete" jdbcType="INTEGER" property="isDelete" />
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="role_id" jdbcType="BIGINT" property="roleId" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Sun Aug 09 01:04:59 CST 2020.-->
    id, create_time, update_time, creater, modifier, version, is_delete, user_id, role_id
  </sql>
</mapper>